html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: rgb(1, 11, 26);
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
}

.content {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 11, 26);
    flex: none;
    color: white;
    height: 75px;
}